$container: 860px;

$colors: (
  'primary': #F8FAFB,
  'secondary': #000000,
  'tertiary': #FFFFFF,
  'quaternary': #7A7A7A,
  'quinary': #F2F2F2,
  'senary': #EDEDED,
  'septenary': #747474,
  'octonary': #F7F9FA
);

$branding: (
  'primary': #344FA5,
  'secondary': #162668,
  'tertiary': #5C97D2,
  'quaternary': #6FCF97
);

$text: (
  'primary': #586069,
  'secondary': #586069
)